@import url('https://fonts.googleapis.com/css?family=Space+Mono|Material+Icons');

body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  background-color: #F5F7FA;
  font-family: 'Space Mono', monospace;
}

input, textarea, select, button, a { outline: none; }

button {
  border: none;
  background-color: transparent;
}

.material-icons.md-dark { 
  color: #4A4A4A; 
}

label {
  display: inline-block;
  width: 100px;
  color: #4A4A4A;
  font-size: 16px;
}

input {
  font-size: 16px;
  border: none;
  padding-top: 0px;
  padding-left: 15px; 
  color: #4A4A4A;  
}

::placeholder { /* Most modern browsers support this now. */
   color: #D8D8D8;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: bold;
}

h2 {
  color: #4A4A4A;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #4A4A4A;
  font-size: 18px;
  font-style: bold;
}

p {
  color: #8C8C8C;
  font-size: 16px;
}

a {
  color: #4A4A4A;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a:hover {
  color: rgb(235, 66, 62);
  text-decoration: none;
}


/***********************************
  Header

************************************/

.header {
  height: 8em;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 1em;
}

/***********************************
  Content
  
************************************/

.content {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 15px 50px;
  width: 100%;
}

/*
 * Create envelope
 */

#container-create {
  text-align: center;
  margin: auto;
  width: 42em;
  min-height: 350px;
}

#container-create #create-envelope {
  /*background-color: #F85947;*/
  background-color: #fff;
  min-height: 300px;
  padding: 35px 15px;
  /*box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
}

.container-title {
  margin-bottom: 20px;
}

.container-create-input {
  background-color: #fff;
  border-radius: 0;
  height: 40px;
  margin: 30px 40px;
  padding: 8px 5px;
  border-bottom: 1px solid #4A4A4A;
}

.container-input {
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
  margin: 30px 0px;
  padding: 8px 5px;
}

.container-input input {
  width: 100%;
}

.container-button {
  margin: 30px auto;
}
/*.container-button .btn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}*/

/*
 * Envelope info
 */

.container-envelope {
  text-align: center;
  margin: auto;
  width: 40em;
  min-height: 50px;
}

.envelope-info-area {
  background-color: #F85947;
  min-height: 300px;
  padding: 35px 15px;
  /*box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
}

/*
 * Claim envelope
 */

/*#unlock-envelope {
  text-align: center;
  margin: auto;
  width: 80%;
  min-height: 350px;
}*/

/*
 * Social links
 */

.container-social {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}


/***********************************
  General
  
************************************/

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline-block;
  padding-left: 15px;
}

.right-align {
  text-align: right;
  padding-right: 0;
}

.left-align {
  text-align: left;
  padding-left: 0;
}

.btn {
  padding: 10px 60px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  color: #fff; 
  background-color: #B5061C;
}

.btn:select, .btn:active, .btn:selected {
  outline: none;
}

.btn-env {
  background-color: rgb(235, 66, 62);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}


