/*@import url('https://fonts.googleapis.com/css?family=Space+Mono|Material+Icons');
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Material+Icons');

body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 6%;
  background-color: #F5F7FA;
  font-family: 'Roboto Mono', monospace;
}

input, textarea, select, button, a { outline: none; }

button {
  border: none;
  background-color: transparent;
}

button:active, button:focus {
  outline: none !important;
  text-decoration: none;
}

.material-icons.md-dark { 
  color: #4A4A4A; 
}

label {
  display: inline-block;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 400;
}

input {
  font-size: 16px;
  border: none;
  padding-top: 0px;
  padding-left: 15px; 
  color: #4A4A4A;  
  background-color: transparent;
}

::placeholder { /* Most modern browsers support this now. */
   color: #D8D8D8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: bold;
}

h2 {
  color: rgb(235, 66, 62);
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: rgb(235, 66, 62);
  font-size: 18px;
  font-style: bold;
}

p {
  color: rgb(235, 66, 62);
  font-size: 16px;
}

a {
  color: rgb(235, 66, 62);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a:hover {
  color: #4A4A4A;
  text-decoration: none;
}


#metamask-info-area{
  z-index: 10;
  height: 5em;
  background-color: #F5F7FA;
  /*background-color: rgb(235, 66, 62);*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.metamask-info-content {
  margin: 0px auto;
  text-align: center;
}

.metamask-title {
  font-size: 14px;
  /*color: #F85947;*/
  color: #4A4A4A;
  margin-right: 15px;
}

#install-metamask {
  background-color: #B5061C;
  color: #fff;
}

/***********************************
  Header

************************************/

.header {
  z-index: 1;
  height: 8em;
  /*position: fixed;*/
  top: 0em;
  left: 0px;
  right: 0px;
  padding: 0.5em;
}

.coin-icon {
  height: 35px;
  margin-bottom: -11px;
}

/***********************************
  Content
  
************************************/

.content {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0 50px;
  width: 100%;
}

/*
 * Create envelope
 */

#container-create {
  text-align: center;
  margin: auto;
  width: 42em;
  min-height: 350px;
}

#container-create #create-envelope {
  background-color: #fff;
  min-height: 300px;
  padding: 35px 15px;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
}

.container-title {
  margin-bottom: 20px;
}

.container-create-field {
  margin: 30px 40px;
}

.container-create-input {
  background-color: #F6F6F7;
  border-radius: 5px;
  height: 40px;
  padding: 8px 15px;
}

.container-input {
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
  margin: 30px 0px;
  padding: 8px 5px;
}

.container-input input {
  width: 100%;
}

.container-button {
  margin: 30px auto;
}

.label-sub {
  font-size: 12px;
  color: #9B9B9B;
}

/*
 * Envelope info
 */

.container-envelope {
  text-align: center;
  margin: auto;
  width: 40em;
  min-height: 50px;
}

#envelope-link {
  margin-bottom: 2em;
}

.envelope-info-area {
  background-color: #F85947;
  min-height: 16em;
  padding: 2px 2px 35px 2px;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  width: 15em;
  margin: 0 auto;
}

.envelope-info-area h2, .envelope-info-area p {
  color: #fff;
}

.envelope-balance-text {
  font-size: 28px;
  color: #fff;
}

#envelope-bg {
  width: 100%;
}

.envelope-detail-area {
  margin: 2em 5em;
}

.envelope-detail-area p {
  color: rgb(235, 66, 62);
  font-size: 14px;
}

#claim-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 7em;
}

#claim {
  background-color: #B5061C;
  /*background-color: rgba(255, 255, 255, 0.65);*/
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  /*color: rgb(235, 66, 62);*/
  color: #fff;
}

#claim:hover {
  color: rgb(235, 66, 62); 
  background-color: rgba(255, 255, 255, 0.65);
}

#claim:select, #claim:active, #claim:selected, #claim:focus {
  outline: none;
}

.claim-sub-area {
  margin: 6em 5em;
}


/*
 * Social links
 */

.container-social {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}


/***********************************
  General
  
************************************/

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline-block;
  padding-left: 15px;
  padding-top: 4px;
}

.right-align {
  text-align: right;
  padding-right: 0;
}

.left-align {
  text-align: left;
  padding-left: 0;
}

.btn {
  padding: 10px 60px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  color: #fff; 
  background-color: #B5061C;
}

.btn:select, .btn:active, .btn:selected, .btn:focus {
  outline: none;
}

.btn-env {
  background-color: rgb(235, 66, 62);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}


